<html>
  <head>
    <title>Sprockets-assistant project</title>
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag :application %>
  </head>
  <body>
    <h1>It works!</h1>
  </body>
</html>

